<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Toolbar</title>
</head>
<body>
    <div th:fragment="main">    <!-- блок, который можно будет включить в другую html-страницу -->

        <div class="container-fluid toolbarContainer">
            <!-- Номер текущей страницы -->
            <div class="btnBar" style="margin: auto 0.7vw; width: 3vw;">
                [[${thisPage}]] [[#{of}]] [[${maxPage}]]
            </div>

            <!-- Номера страниц -->
            <div class="btn-group me-2" role="group" aria-label="Second group">
                <form class="myToolbar" action="/main_page/toolbar/NumberButtons" method="get">
                    <input type="submit" class="btn btnBarPage btn-secondary btnBar" name="title" value="<<" style="border-radius: 0.35vw 0 0 0.35vw;"/>
                    <input type="submit" class="btn btnBarPage btn-secondary btnBar" name="title" value="<" style="border-radius: 0;"/>
                    <div class="btn  btnBarPage btn-secondary btnBar" th:text="${thisPage}" style="border-radius: 0;"></div>
                    <input type="submit" class="btn btnBarPage btn-secondary btnBar" name="title" value=">" style="border-radius: 0;"/>
                    <input type="submit" class="btn btnBarPage btn-secondary btnBar" name="title" value=">>" style="border-radius: 0 0.35vw 0.35vw 0; padding: 0;"/>
                </form>
            </div>

            <!-- Выпадающий список -->
            <div class="btn-group itemMyToolbar" style="margin: 0% 0.5%;">
                <button type="button" class="btn btnBar btn-danger dropdown-toggle btnDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    <th:block th:text="${pageSize}"></th:block>
                </button>
                <ul class="dropdown-menu" style="max-width: 30px">
                    <li><a class="dropdown-item" href="/main_page/toolbar/PageSize?size=5">5</a></li>
                    <li><a class="dropdown-item" href="/main_page/toolbar/PageSize?size=10">10</a></li>
                    <li><a class="dropdown-item" href="/main_page/toolbar/PageSize?size=15">15</a></li>
                    <li><a class="dropdown-item" href="/main_page/toolbar/PageSize?size=20">20</a></li>
                </ul>
            </div>
        </div>

    </div>
</body>
</html>