<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>BooksContainer</title>
</head>
<body>
    <div th:fragment="main">    <!-- блок, который можно будет включить в другую html-страницу -->

        <div class="container-fluid libraryContainer">

            <!-- Шапка -->
            <div class="row myTab header">
                <th:block th:text="${SearchMessage}"></th:block>
            </div>

            <!-- Книги -->
            <div class="booksContainer">
                <div class="row" style="height: 0.7vw"></div>   <!-- Верхний отступ контейнера книг -->
                <div class="row" style="margin: 0% 1%">
                    <th:block th:each="book : ${pageBooks}">

                        <!-- Карточка книги -->
                        <div class="card myBookCard effect8">
                            <a th:href="@{/main_page/viewing/{id} (id=${book.getId()})}" class="stretched-link"></a>
                            <img th:src="'http://localhost:8080/books/img?id=' + ${book.getId()}" class="myBookCardImage">
                            <div class="card-body" style="padding: 0.2vw 0.5vw;">

                                <!-- ФИО автора -->
                                <div class="row" style="height: 2.6vw;">
                                    <p th:text="${book.getAuthor.getLocalizedFio()}" style="font-size: 0.85vw;"></p>
                                </div>

                                <!-- Просмотры и рейтинг -->
                                <div class="row">
                                    <div class="col-4" style="padding-right: 0;">
                                        <div>
                                            <img th:src="@{static/images/see.png}" style="height: 1.3vw;">
                                            <div style="display: inline-block; font-size: 0.7vw;">
                                                <th:block th:text="${book.getViewCount}"></th:block>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-8" style="padding: 0 0 0 0.6vw; margin-top: -0.15vw; position: relative; z-index: 1;">

                                        <div>
                                        </div>

                                        <fieldset class="rating">

                                            <!-- Отображение текущего рейтинга -->
                                            <label th:if="${book.getAvgRating()} > 0" class = "full curRat" style="margin: 0vw;"></label>
                                            <label th:if="${book.getAvgRating()} > 1" class = "full curRat" style="margin: 0 1.25vw;"></label>
                                            <label th:if="${book.getAvgRating()} > 2" class = "full curRat" style="margin: 0 2.5vw;"></label>
                                            <label th:if="${book.getAvgRating()} > 3" class = "full curRat" style="margin: 0 3.75vw;"></label>
                                            <label th:if="${book.getAvgRating()} > 4" class = "full curRat" style="margin: 0 5vw;"></label>

                                            <!-- Звездный рейтинг -->
                                            <label class = "full" th:for="'star5b' + ${book.getId()}" th:title="#{1str}"></label>
                                            <input type="radio" th:id="'star5b' + ${book.getId()}" name="rating" value="5" th:onclick="'location.href=\'/main_page/rating?bookId=' + ${book.getId()} + '&rating=5\''"/>

                                            <label class = "full" th:for="'star4b' + ${book.getId()}" th:title="#{2str}"></label>
                                            <input type="radio" th:id="'star4b' + ${book.getId()}" name="rating" value="4" th:onclick="'location.href=\'/main_page/rating?bookId=' + ${book.getId()} + '&rating=4\''"/>

                                            <label class = "full" th:for="'star3b' + ${book.getId()}" th:title="#{3str}"></label>
                                            <input type="radio" th:id="'star3b' + ${book.getId()}" name="rating" value="3" th:onclick="'location.href=\'/main_page/rating?bookId=' + ${book.getId()} + '&rating=3\''"/>

                                            <label class = "full" th:for="'star2b' + ${book.getId()}" th:title="#{4str}"></label>
                                            <input type="radio" th:id="'star2b' + ${book.getId()}" name="rating" value="2" th:onclick="'location.href=\'/main_page/rating?bookId=' + ${book.getId()} + '&rating=2\''"/>

                                            <label class = "full" th:for="'star1b' + ${book.getId()}" th:title="#{5str}"></label>
                                            <input type="radio" th:id="'star1b' + ${book.getId()}" name="rating" value="1" th:onclick="'location.href=\'/main_page/rating?bookId=' + ${book.getId()} + '&rating=1\''"/>

                                        </fieldset>

                                    </div>
                                </div>

                                <!-- Редактирование и удаление -->
                                <div sec:authorize="hasAnyRole('ROLE_ADMIN', 'ROLE_SUPERADMIN')" class="row" style="justify-content: flex-end; margin: 0.3vw 0 0.1vw;">
                                    <img src="static/images/edit.png" class="myBookCardEditButton" th:onclick="'location.href=\'/books/' + ${book.getId} + '/edit\''">
                                    <img src="static/images/delete.png" class="myBookCardDeleteButton" th:onclick="'location.href=\'/main_page/deleteDialog?id=' + ${book.getId} + '\''">
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
                <div class="row" style="height: 0.7vw"></div>   <!-- Нижний отступ контейнера книг -->
            </div>

            <!-- Toolbar -->
            <div th:insert="~{fragments/toolbar :: toolbar-main}"></div>

        </div>

    </div>
</body>
</html>