<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MainPage</title>
    <!-- Подключение стилей Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
    <!-- Подключение своих стилей -->
    <link href="static/css/navbar.css" rel="stylesheet">
    <link href="static/css/top.css" rel="stylesheet">
    <link href="static/css/library.css" rel="stylesheet">
    <link href="static/css/footer.css" rel="stylesheet">
    <!-- Свой стиль для этой страницы -->
    <style>
        body {
            margin: 0;
        }
        .generalContainer {
            margin: 0;
            padding: 0;
        }
    </style>
    <!-- Подключение fontawesome (библиотеки иконок) -->
    <script src="https://use.fontawesome.com/7311ed3073.js"></script>
    <!-- Подключение JavaScript'а для работы выпадающего списка -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
    <!-- Подключение JQuery (используется для поднятия модального окна) -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
</head>
<body>

<!-- Общий контейнер -->
<div class="container-fluid generalContainer">

    <!-- Navbar -->
    <div th:insert="~{fragments/navbar :: navbar-main}"></div>


    <!-- Top -->
    <div th:insert="~{main/main-top :: main}"></div>


    <!-- Library -->
    <div th:insert="~{main/main-library :: main}"></div>


    <!-- Footer -->
    <div th:insert="~{fragments/footer :: main}"></div>


    <!-- Modal windows (edit & delete & rating) -->
    <div th:insert="~{main/main-library-edit&delete&rating :: edit}"></div>
    <div th:insert="~{main/main-library-edit&delete&rating :: delete}"></div>
    <div th:insert="~{main/main-library-edit&delete&rating :: ratingMess}"></div>

</div>

</body>
</html>