/* Цвет контейнеров */
.mainContainer {
    background-color: #ededed;
}

/* Заголовок контейнеров */
.header {
    margin: 0;
    background-color: #f3f3f3;
}



/* Genre menu */

.genreContainer {
    height: 100%;
    width: 100%;
    background-color: white;
    margin-left: 15%;
    padding: 0;
    margin-right: -10%;
}

.myTab {
    font-size: 1vw;
    margin: 0;
    padding: 0.7vw;
}

.genreButton {
    text-decoration: none;
    color: #1f1f1f;
}


/* Library */

.libraryContainer {
    margin: 0% 4%;
    height: 96%;
    width: auto;
    padding: 0;
}

.booksContainer {
    padding: 0;
    background-color: white;
}

.myBookCard {
    width: 18%;
    min-height: 17.2vw;
    margin: 1% 1%;
    padding: 0;
}

.myBookCard:hover {
    border: #33383b;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 0px;
}

.effect8
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect8:before, .effect8:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:10px;
    bottom:10px;
    left:0;
    right:0;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect8:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
    -moz-transform:skew(8deg) rotate(3deg);
    -ms-transform:skew(8deg) rotate(3deg);
    -o-transform:skew(8deg) rotate(3deg);
    transform:skew(8deg) rotate(3deg);
}

.myBookCardImage {
    width: 100%;
    height: 12.5vw;
    min-height: 12.5vw;
}

.myBookCardEditButton {
    width: 0.95vw;
    height: auto;
    z-index: 1;
    padding: 0;
    margin: -0.2vw 0.25vw 0;
}

.myBookCardDeleteButton {
    width: 0.7vw;
    height: auto;
    margin-top: -0.2vw;
    padding: 0;
    z-index: 1;
}

.myBookCardEditButton:hover {
    border: #5383d3;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 0px;
}

.myBookCardDeleteButton:hover {
    border: #5383d3;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.5); /* Параметры тени */
    padding: 0px;
}

/* RatingBar */

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
h1 { font-size: 1.5em; margin: 0.5vw; }
.rating {
    border: none;
    float: left;
}
.rating > input { display: none; }
.rating > label:before {
    margin: 0 0.25vw;
    font-size: 0.8vw;
    font-family: FontAwesome;
    display: inline-block;
    content: "\f005";
}
.rating > .half:before {
    content: "\f089";
    position: absolute;
}
.rating > label {
    color: #ddd;
    float: right;
}
.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */
.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }

/* на отображение текущего рейтинга */
.rating:hover .curRat{      /* при наведении указателя на элемент класса rating, */
    display: none;          /* все элементы класса curRat, будут скрыты (display: none;) */
}
.rating > .curRat {
    color: #FFD700;
    position: absolute;
}


/* Toolbar */

.toolbarContainer {
    margin: 1%;
    display: flex;
    justify-content: center;
}

.myToolbar {
    display: contents;
}

.btnBar {
    height: 2vw;
    width: 2vw;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9vw;
}

.btnBarPage {
    border-color: dimgray;
    color: white;
    background-color: dimgray;
}

.btnDropdown {
    width: 3vw;
    border-radius: 0.35vw;
}

/* Подгоняет ширину выпадающего списка */
.dropdown-menu {
    /*min-width: 3.8rem;*/
    font-size: 0.9vw;
    min-width: 3vw;
    padding: 0.2vw 1.0vw;
}

.dropdown-item {
    padding: 0;
}


/* Edit model window*/


.editFieldLabel {
    width: 8vw;
    margin: auto 0 auto 0.8vw;
}

.editFieldInput {
    margin: 0.8vw;
    margin-left: auto;
    width: 14vw;
}

.bntUpload {
    height: 2vw;
    width: 11.2vw;
    background: deepskyblue;
    border-style: solid solid none;
    border-color: lightskyblue;
    margin-left: 0.6vw;
    border-radius: 0.3vw 0.3vw 0 0;
}

.selectedFilenameArea {
    height: 2vw;
    width: 11.2vw;
    border-style: none solid solid;
    border-color: lightskyblue;
    margin-left: 0.6vw;
    border-radius: 0 0 0.3vw 0.3vw;
    padding-top: 0.3vw;
}