.myNavbar {
    background-color: #1f1f1f;
    height: 50px
}

.logoImg {
    height:50px;
    padding: 12px 10px 4px;
}

.navButton {
    padding-top: 12px;
    color: lightgray;
    border-color: #1f1f1f;
    background-color: #1f1f1f;
}

.myNavbarSearch {
    width: 15vw;
    height: 30px;
    margin-top: 10px;
}

.myNavbarUserButton {

}

.myNavbarExitButton {
    color: #9a7e67;
    padding-left: 0;
    margin: 0;
}
