.toolbarContainer {
    margin: 1%;
    display: flex;
    justify-content: center;
}

.myToolbar {
    display: contents;
}

.btnBar {
    height: 2vw;
    width: 2vw;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9vw;
}

.btnBarPage {
    border-color: dimgray;
    color: white;
    background-color: dimgray;
}

.btnDropdown {
    width: 3vw;
    border-radius: 0.35vw;
}

/* Подгоняет ширину выпадающего списка */
.dropdown-menu {
    /*min-width: 3.8rem;*/
    font-size: 0.9vw;
    min-width: 3vw;
    padding: 0.2vw 1.0vw;
}

.dropdown-item {
    padding: 0;
}