<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PDF not found</title>
</head>
<body>

    <!-- Общий контейнер -->
    <div class="container-fluid generalContainer">

        <!-- Navbar -->
        <div th:insert="~{general_parts/navbar :: main}"></div>


        <!-- Error message -->
        <div class="container-fluid" style="height: 70vh">
            <p>PDF-файл не найден!</p>
            <p>Проверьте наличие контента у книги</p>
        </div>

        <!-- Footer -->
        <div th:insert="~{general_parts/footer :: main}"></div>

    </div>

</body>
</html>