<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PDF not found</title>
    <!-- Подключение стилей Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
    <!-- Подключение своих стилей -->
    <link href="css/navbar.css" rel="stylesheet">
    <link href="css/error.css" rel="stylesheet">
    <link href="css/footer.css" rel="stylesheet">
    <!-- Подключение fontawesome (библиотеки иконок) -->
    <script src="https://use.fontawesome.com/7311ed3073.js"></script>
</head>
<body>

    <!-- Navbar -->
    <div th:insert="~{general_parts/navbar :: main}"></div>


    <!-- Error message -->
    <div class="container-fluid" style="height: 100vh">
        <h3>PDF-файл не найден!</h3>
        <p>Проверьте наличие контента у книги</p>
    </div>

    <!-- Footer -->
    <div th:insert="~{general_parts/footer :: main}"></div>

</body>
</html>